<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дрон-Радар</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/elegant-icons/css/elegant-icons.min.css">
    <link rel="stylesheet" href="assets/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width:  1920px;
      margin: auto;
  }
  </style>
</head>

<body data-spy="scroll" data-offset="80">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56011a71a306af06" async="async"></script>

    <% include apkmov_navbar.html %>   
    <% include apkmov_home.html %>   
    <% include apkmov_destination.html %>      
    <% include apkmov_content.html %> 
    <% include apkmov_possibility.html %> 
    <% include apkmov_feature.html %>
    <% include index_contacts.html %>
    <% include index_footer.html %>

    <!-- Javascript -->
    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.min.js"></script>
    <script src="assets/js/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="assets/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="assets/js/cube.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>

