<div id="pko-content-section" class="pko-content-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Состав</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		АПКМОВ состоит из:
		</p>
        <ol>
        	<li> Сервера хранения и отображения информации о маршрутах и полетах воздушных судов;</li>
        	<li> Приемники радиосигналов с бортовых транспондеров ADS-B, позволяющие автономно обнаруживать воздушные суда в заданном районе;</li>   
        	<li> Автономные метеостанции, позволяющие определять погодные условия в заданном районе.</li>  	
        </ol>		
	</div>
</div>