<div id="pko-destination-section" class="pko-destination-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Назначение</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		Аппаратно-программный комплекс мониторинга воздушных судов (АПКМОВ) предназначен для отображения положения и параметров воздушных объектов на карте в режиме реального времени с использованием автономных средств приема радиосигналов от бортовых транспондеров (АИС).		
		</p>		
	</div>
</div>