<div id="callaction-container" class="callaction-container">
	<div class="inner-callaction">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
         			<p style="font-size: 120%;">Хотите, чтобы мы сняли для вас видео?</p>
         			<p style="font-size: 120%; margin-bottom: 10px;">Наш телефон:</p>
         			<a style="font-size: 180%;"href="#" class="">+7 812 1234567</a>
       			</div>
     		</div>
   		</div>
 	</div>
</div>