<div id="products-section" class="product-container product-bg1">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="product">
					<h3>О нас</h3>
					<img style="margin-top: 20px;" src="assets/img/backgrounds/4.jpg" alt="">
				</div>

			</div>
		</div>
	</div>
</div>

<div class="product-container product-bg2">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-lg-offset-3 col-lg-3 col-sm-4">
				<div class="productbox">
					<div>
						<i class="icon ion-bowtie"></i>
					</div>
					<h5>КДК</h5>
					Комплекс диспетчерского контроля
				</div>				
			</div>
		</div>
	</div>
</div>