<div id="destination-section" class="destination-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Назначение</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		Дрон-Радар - это комплекс диспетчерского контроля (КДК), предназначенный для мониторинга воздушной обстановки, с целью обеспечения безопасности воздушного движения и защиты объектов (в том числе беспилотных летательных аппаратов - БПЛА).		
		</p>		
	</div>
</div>