<div id="feature-section" class="feature-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Особенности</h3>
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		
        <ol>
        	<li>Комплексирование данных о воздушной обстановке;</li>
        	<li>Контроль за БПЛА и БЛА с малой ЭПР, которые невозможно обнаружить с помощью средств радиолокации;</li>
        	<li>Открытая архитектура аппаратно-программных средств для комплексирования с используемыми системами мониторинга воздушной среды (ПТН, ОРЛО  т.п.).</li>     	
        </ol>		
	</div>
</div>