<div id="contact-section" class="contact-container">
	<div class="inner-contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 contact">
					<h3>Контакты</h3>
					<p>

					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 form-group contact-form">
					<h4>Написать сообщение, мы ответим вам</h4>
					<form method="post" action="/message">
						<input type="text" name="email" placeholder="Email" class="form-control contact-email">
						<input type="text" name="subject" placeholder="Тема" class="form-control contact-subject">
						<textarea name="message" class="form-control" placeholder="Сообщение"></textarea>
						<button type="submit" class="btn btn-contact">Отправить</button>
					</form>
				</div>
				<div class="col-sm-5 contact-address contact-about">
					<h4>О нас</h4>
					<p>Мы находимся в Санкт-Петербурге</p>					
				</div>
			</div>
		</div>
	</div>
</div>