<div id="characteristics-section" class="characteristics-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Характеристики</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ul {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		
        <ul>
        	<li>Дальность действия (при топологии от шести пунктов) – до 100 км;</li>
        	<li>Диапазон рабочих частот (ограничен применением РПУ) – 0,3 … 7ГГц (с возможностью расширения до 90 ГГц);</li>
        	<li>Скорость перестройки в диапазоне рабочих частот – 2ГГц/с;</li>
        	<li>Точность координатометрии – до 0,1% от удаления  ИРИ.</li>
        </ul>	

        <div class="col-sm-12 portfolio">
				<h4 align="left"><b>Основные источники освещения воздушной обстановки:</b></h4>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
		</div>	

		<ul>
        	<li>- бортовые радиотехнические средства и комплексы;</li>
        	<li>- радиолокационные системы;</li>
        	<li>- широкополосные средства связи (в том числе с непрерывным излучением).</li>        	
        </ul>

        <div class="col-sm-12 portfolio">
				<h4 align="left"><b>К особенностям комплекса относятся:</b></h4>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
		</div>	

		<ul>
        	<li>- возможность применения для контроля морской обстановки;</li>
        	<li>- возможность мониторинга объектов по непрерывным сигналам источников радиоизлучений;</li>
        	<li>- режим автоматического функционирования периферийных измерителей;</li>   
        	<li>- централизованная доставка частотно-территориальной панорамы в единый центр обработки и управления; </li>
        	<li>- высокая степень адаптации к системам, построенным на основе IT технологии в т.ч. системам геоинформационной поддержки;</li>
        	<li>- простота и надёжность развёртывания и функционирования.</li>      	
        </ul>

	</div>
</div>