<div id="pricing-section" class="pricing-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 pricing">
				<h3>Цены</h3>
				<!-- <p>Выберите интересующую услугу</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 toLeft">
				<div class="price-column">
					<h2>Пакет 1</h2>
					<h3><span></span> 5000<span> рублей</span></h3>
					<ul>
						<li>Vestibulum est magna</li>
						<li>Mauris auctor massa libero</li>
						<li>Praesent magna tortor</li>
						<li>Cras et fermentum massa</li>
						<li><button type="button" class="btn btn-top btn-lg">Заказать</button></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 toIn">
				<div class="price-column large">
					<h2>Пакет 2</h2>
					<h3><span></span> 10000<span> рублей</span></h3>
					<ul>
						<li>Vestibulum est magna</li>
						<li>Mauris auctor massa libero</li>
						<li>Praesent magna tortor</li>
						<li>Cras et fermentum massa</li>
						<li><button type="button" class="btn btn-top btn-lg">Заказать</button></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 toRight">
				<div class="price-column">
					<h2>Пакет 3</h2>
					<h3><span>От</span> 15000<span> рублей</span></h3>
					<ul>
						<li>Vestibulum est magna</li>
						<li>Mauris auctor massa libero</li>
						<li>Praesent magna tortor</li>
						<li>Cras et fermentum massa</li>
						<li><button type="button" class="btn btn-top btn-lg">Заказать</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>