<div id="portfolio-section" class="portfolio-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3>Портфолио</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>

		<div class="cbp-panel">
			<div id="filters-container" class="cbp-l-filters-work">
				<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Показать все</div>
				<div data-filter=".wedding" class="cbp-filter-item">Свадебная съемка</div>
				<div data-filter=".events" class="cbp-filter-item">Мероприятия</div>
				<div data-filter=".films" class="cbp-filter-item">Фильмы и клипы</div>
				<div data-filter=".adv" class="cbp-filter-item">Реклама</div>
				<div data-filter=".photo" class="cbp-filter-item">Фото</div>
			</div>

			<div id="grid-container" class="cbp cbp-l-grid-work">
				<div class="cbp-item wedding">
					<a class="cbp-lightbox cbp-caption" data-title="Video title" href="https://www.youtube.com/watch?v=ayyKsFlqqqY">
						<div class="cbp-caption-defaultWrap">
							<img src="https://img.youtube.com/vi/ayyKsFlqqqY/maxresdefault.jpg" alt="" width="100%"/>
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Свадебная съемка 1</a>
					<div class="cbp-l-grid-work-desc">Video description</div>
				</div>
				<div class="cbp-item wedding">
					<a class="cbp-lightbox cbp-caption" data-title="Video title" href="https://www.youtube.com/watch?v=99CobfthQvE">
						<div class="cbp-caption-defaultWrap">
							<img src="https://img.youtube.com/vi/99CobfthQvE/maxresdefault.jpg" alt="" width="100%"/>
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Свадебная съемка 2</a>
					<div class="cbp-l-grid-work-desc">Video description</div>
				</div>
				<div class="cbp-item wedding">
					<a class="cbp-lightbox cbp-caption" data-title="Video title" href="https://www.youtube.com/watch?v=EwaCIwHzd3s">
						<div class="cbp-caption-defaultWrap">
							<img src="https://img.youtube.com/vi/EwaCIwHzd3s/maxresdefault.jpg" alt="" width="100%"/>
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Свадебная съемка 3</a>
					<div class="cbp-l-grid-work-desc">Video description</div>
				</div>
				<div class="cbp-item photo">
					<a class="cbp-lightbox cbp-caption" data-title="Photo title" href="https://www.plansaero.ru/wp-content/uploads/2014/01/DSC05045-copy.jpg">
						<div class="cbp-caption-defaultWrap">
							<img src="https://www.plansaero.ru/wp-content/uploads/2014/01/DSC05045-copy.jpg" alt="" width="100%">
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Фото 1</a>
					<div class="cbp-l-grid-work-desc">Photo description</div>
				</div>
				<div class="cbp-item photo">
					<a class="cbp-lightbox cbp-caption" data-title="Photo title" href="https://img-fotki.yandex.ru/get/4612/112803270.3a/0_10af90_4d0649ea_orig">
						<div class="cbp-caption-defaultWrap">
							<img src="https://img-fotki.yandex.ru/get/4612/112803270.3a/0_10af90_4d0649ea_orig" alt="">
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Фото 2</a>
					<div class="cbp-l-grid-work-desc">Photo description</div>
				</div>
				<div class="cbp-item photo">
					<a class="cbp-lightbox cbp-caption" data-title="Photo title" href="https://ic.pics.livejournal.com/dimabalakirev/13794849/123740/123740_original.jpg">
						<div class="cbp-caption-defaultWrap">
							<img src="https://ic.pics.livejournal.com/dimabalakirev/13794849/123740/123740_original.jpg" alt="">
						</div>
						<div class="cbp-caption-activeWrap"></div>
					</a>
					<a href="" class="cbp-l-grid-work-title cbp-singlePage">Фото 3</a>
					<div class="cbp-l-grid-work-desc">Photo description</div>
				</div>
			</div>
		</div>
	</div>
</div>