<div id="possibility-section" class="possibility-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Возможности</h3>
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		
        <ol>
        	<li>Мониторинг использования пространства воздушными судами;</li>
        	<li>Обнаружение объектов, не имеющих средств опознавания;</li>
        	<li>Поиск, обнаружение и траекторное сопровождение малогабаритных объектов с малой эффективной площадью рассеяния (ЭПР).</li>     	
        </ol>		
	</div>
</div>