<!--
<div class="container">
	<div class="row">
		<div class="col-sm-12 testimonials">
			<h3>Отзывы наших клиентов</h3>
			<div class="col-md-12 text-center">
				<div id="testimonial-carousel" class="owl-carousel owl-spaced">
					<div>
						<img src="assets/img/testimonials/1.jpg" alt="" class="img-responsive img-thumbnail" />

						<h4>
							Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit. Curabitur pellentesque neque eget diam posuere porta. Aliquam imperdiet nulla id scelerisque auctor. Proin egestas mauris vel arcu bibendum ornare. 
						</h4>
						<p>-Diana Rosswert</p>
					</div>
					<div>
						<img src="assets/img/testimonials/2.jpg" alt="" class="img-responsive img-thumbnail" />

						<h4>
							Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit. Curabitur pellentesque neque eget diam posuere porta. Aliquam imperdiet nulla id scelerisque auctor. Proin egestas mauris vel arcu bibendum ornare. 
						</h4>
						<p>-Diana Rosswert</p>
					</div>
					<div>
						<img src="assets/img/testimonials/3.jpg" alt="" class="img-responsive img-thumbnail" />

						<h4>
							Pellentesque sit amet augue a mi luctus laoreet ut nec velit. Morbi in fermentum elit. Curabitur pellentesque neque eget diam posuere porta. Aliquam imperdiet nulla id scelerisque auctor. Proin egestas mauris vel arcu bibendum ornare. 
						</h4>
						<p>-Diana Rosswert</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
