<!-- footer 1 -->
<!-- <div id="footer">
	<h3>Мы в соцсетях</h3>
	<p>Присоединяйтесь к нам, получайте свежие новости и привлекательные скидки!</p>
	<div class="follow-us">
		<a target="_blank" href="https://vk.com/public102458585" class="social-icon">
			<img src="/assets/img/social/vk.png" width="50" height="50">
		</a>
		<a target="_blank" href="https://www.facebook.com/AFSMedia-1641192732764781" class="social-icon">
			<img src="/assets/img/social/facebook.png" width="50" height="50">
		</a>
		<a target="_blank" href="https://instagram.com/afs.media" class="social-icon">
			<img src="/assets/img/social/instagram.png" width="50" height="50">
		</a>
		<a target="_blank" href="#" class="social-icon">
			<img src="/assets/img/social/youtube.png" width="50" height="50">
		</a>
		<a target="_blank" href="https://twitter.com/AfsMedia" class="social-icon">
			<img src="/assets/img/social/twitter.png" width="50" height="50">
		</a>
	</div>
</div>
-->

<!-- footer 2 -->
<div id="footer2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="copyright">&copy;
					<script type="text/javascript">
              			//<![CDATA[
              			var d = new Date()
              			document.write(d.getFullYear())
                		//]]>
            		</script>
            		<a> КБ "Курс"</a>
        		</div>
    		</div>
		</div>
	</div>
</div>