<div id="features-section" class="features-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 features-box1">
				<div class="icon">
					<a href="pko"><i class="icon ion-map"></i>
				</div>
				<h4>ПКО</h4>
				</a>
			</div>
			<div class="col-sm-4 features-box2">
				<div class="icon">
					<a href="#content-section"><i class="icon ion-paper-airplane"></i>
				</div>
				<h4>АПКМОВ</h4>
				</a>
			</div>
			<div class="col-sm-4 features-box3">
				<div class="icon">
					<a href="#characteristics-section"><i class="icon ion-clipboard"></i>
				</div>
				<h4>СДК</h4>
				</a>
			</div>

		</div>
	</div>
</div>