<div id="home" class="hero-unit hero-light hero-video" data-vide-bg="assets/videos/motion" data-vide-options="loop: false, posterType: png">
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_sharing_toolbox" style="position: absolute; top: 5px; right: 5px; z-index: 9000"></div>

	



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://res.cloudinary.com/dsjibk5hx/image/upload/v1464700595/DroneRadar/21img2.jpg" alt="Диспетчерский контроль беспилотников">
          <div class="overText1">
            <h2>Мониторинг воздушной обстановки с БЛА</h2>
            <h2>Мониторинг беспилотных средств в заданной зоне</h2>
            <h2>Получение телеметрии и параметров отлеживаемых средств</h2>
          </div>
          <style>
          .overText1 {
            display:block;
            position:absolute;
            left: 50%;
            bottom: 30%;
            width:100%;             
            color:#fff;                 
            padding:10px;
          }
          </style>
        </div> 

        <div class="item">
           <img src="https://res.cloudinary.com/dsjibk5hx/image/upload/v1464700595/DroneRadar/21img3.jpg" alt="Диспетчерский контроль беспилотников">
          <div class="overText2">
            <h2>Использование различных типов карт</h2>
            <h2>Автоматическое сопровождение объектов</h2>           
          </div>
          <style>
          .overText2 {
            display:block;
            position:absolute;
            left: 50%;
            bottom: 30%;
            width:100%;             
            color:#000;                 
            padding:10px;
          }
          </style>
        </div>


      </div>



      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>

</div>