<div id="content-section" class="content-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Состав</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		КДК состоит из:
		</p>
        <ol>
        	<li><a href="pko">ПКО</a> - Программный комплекс освещения воздушной обстановки на основе данных, получаемых от официальных источников мониторинга воздушного движения в реальном времени;</li>
        	<li><a href="apkmov">АПКМОВ</a> - Аппаратно-программный комплекс (АПК) мониторинга воздушных судов на основе приема радиосигналов бортовых транспондеров (АИС);</li>
        	<li><a href="sdk">СДК</a> - Система диспетчерского контроля.</li>     	
        </ol>		
	</div>
</div>