<div class="navbar navbar-default menu-shrink" role="navigation"> <!-- navbar-fixed-top  menu-top -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://droneradar.org"><i class="fa fa-paper-plane"></i> Дрон-Радар(ПКО)</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="fa ion-home" href="https://droneradar.org" style="font-size: 140%;"></a></li>
                <li><a href="#pko-destination-section">Назначение</a></li>
                <li><a href="#pko-content-section">Состав</a></li>
                <li><a href="#pko-possibility-section">Возможности</a></li>
                <li><a href="#pko-feature-section">Особенности</a></li>
                <li><a href="#contact-section">Контакты</a></li>
            </ul>
        </div> 
    </div>
</div> 