<div id="pko-possibility-section" class="pko-possibility-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Возможности</h3>
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		
        <ol>
        	<li>Мониторинг использования пространства воздушными судами при наличии подключения сервера к глобальной сети Интернет;</li>
        	<li>Определение типа воздушного судна и его характеристик;</li>
        	<li>Отображение карт запретных, опасных, ограниченных и разрешенных зон;</li>
        	<li>Отображение информации о погодных условиях;</li>
        	<li>Отображение информации о аэропортах, вертолентных площадках, региональных и международных маршрутах гражданских воздушных судов.</li>   	
        </ol>		
	</div>
</div>