<div id="pko-content-section" class="pko-content-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Состав</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		СДК состоит из:
		</p>
        <ol>
        	<li> Сервера хранения и отображения информации о маршрутах и полетах воздушных судов, получаемой через глобальную сеть Интернет;</li>          	
        	<li> Источники информации о закрытых, запрещенных, ограниченных и разрешенных зонах полетов;</li> 
        	<li> Источники информации о аэропортах, вертолетных площадках;</li> 
        	<li> Источники информации о региональных и международных воздушных трассах;</li> 
        	<li> Источники информации о погодных условиях.</li> 
        </ol>		
	</div>
</div>