<div id="pko-feature-section" class="pko-feature-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Особенности</h3>
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		
        <ol>
        	<li>Сбор и отображение на карте информации с серверов сбора данных, полученных с бортовых транспондеров воздушных судов (ADS-B) по всему миру;</li>
        	<li>Комплексирование со сторонними ресурсами, предоставляющие дополнительную информацию (погодные условия, пункты диспетчерского контроля и т.п.).</li>  	
        </ol>		
	</div>
</div>