<div id="sdk-destination-section" class="sdk-destination-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Назначение</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		Автономная система диспетчерского контроля (СДК) предназначена для мониторинга воздушной обстановки и обеспечения безопасности полётов на основе определения местоположения и траекторного сопровождения беспилотных летательных аппаратов (БПЛА) разностно-дальномерным методом координатометрии.		
		</p>
		<p>
			В настоящее время к числу особенностей контроля воздушной обстановки относятся трудности поиска, обнаружения, координатометрии и траекторного сопровождения малоразмерных целей. Причиной указанных обстоятельств являются недостаточные возможности активных средств мониторинга, а именно радиолокационных станций и комплексов при обнаружении целей, имеющих незначительную эффективную поверхность рассеяния (ЭПР). Современные летательные аппараты, в особенности БПЛА, наряду с малыми размерами изготавливаются из материалов, имеющих незначительную  диэлектрическую проницаемость и, как следствие низкую радиолокационную заметность. Вместе с тем, для обеспечения управления БПЛА на своём борту, имеют средства связи, навигации и телеметрии. Контроль  указанных источников радиоизлучений (ИРИ), в условиях невозможности эффективного применения активных средств сопровождения БПЛА, позволяет обеспечивать траекторные измерения целей пассивными средствами радиомониторинга.
		</p>		
	</div>
</div>