<div id="sdk-possibility-section" class="sdk-possibility-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Возможности</h3>
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>

		<p>
        СДК построена на основе разностно-дальномерного способа координатометрии бортовых ИРИ, что позволяет обеспечивать:
        </p>

		
        <ol>
        	<li>Траекторное сопровождение БПЛА в зоне контроля;</li>
        	<li>Поиск, обнаружение и координатометрию нелегитимных объектов в зоне контроля;</li>
        	<li>Информационное сопровождение диспетчерской службы;</li>
        	<li>Навигационное сопровождение объектов в условиях  отсутствия данных глобальной навигации.</li>	
        </ol>		
	</div>
</div>