<div id="sdk-content-section" class="sdk-content-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<h3 align="center">Состав</h3>
				<!-- <p>Здесь вы можете увидеть примеры наших работ</p> -->
			</div>
		</div>
		<style>
		p {
			text-indent: 3em; /* Отступ первой строки */
    		text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		ol {
			text-align: justify; /* Выравнивание по ширине */
    		font-size: 150%/* Размер шрифта в процентах */ 
		}
		</style>
		<p>
		СДК состоит из:
		</p>
        <ol>
        	<li> 1 центральный пункт сбора и обработки информации;</li>
        	<li> Минимум 4 радиоприемника;</li>   
        	<li> Система связи.</li>  	
        </ol>		
	</div>
</div>